/* CSS-reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

body 
{
	line-height: 1;
}

ol, ul 
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS-reset slut */



/*----------------------------------------------------------------------------------------------------------------------------*/

body
{
    background-image: url('images/wood.jpg');
}

li
{
    margin: 10px;
}


#sidebar
{
    width: 10%;
    height: 800px;
    float: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-family: arial;
    margin: 10px;
    
}

#contentAdListView
{
    width: 80%;
    float: left;
}

#contentAdView
{
    margin-top: 10px;
    width: 80%;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    word-wrap: break-word;
}

.contentAdViewHeader
{
    font-size: 12px;
}

.contentAdViewDescription
{
    font-weight: normal;
    font-style: italic;
}

.contentAdViewDate
{
    font-weight: normal;
}

.contactAdForm
{
    margin-left: 400px;
    width: 80%;

}



.createAdForm
{
    margin-top: 10px;
    width: 80%;
    /*float: left;*/
}

.adListViewElement
{
    border: 1px dotted red;
    max-width: 60%;
    height: 60px;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.adListViewElement p
{
    text-decoration: none;
    font-size: 10px;
    font-weight: italic;
    font-family: arial;
    word-wrap: break-word;
}

.adListViewElement a
{
    text-decoration: none;
    font-weight: italic;
    font-size: 12px;
    font-family: arial;
    word-wrap: break-word;
}

.adListViewElement h1
{
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
}






.createAdForm ul 
{
    
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.createAdForm li
{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    padding: 0px; 
}

.createAdForm label 
{
    width:100px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:0px;
}
.createAdForm input 
{
    height:20px; 
    width:220px; 
    padding:0px 0px;
}
.createAdForm textarea 
{
    padding:0px; 
    width:221px;
    
}
.createAdForm button 
{
    margin-left:100px;
}




/*----------------------------------------------------------------------------------------------------------------------------*/




